.nav {
    float: left;
    text-align: center;
    display: block;
    
    width: 120px;
    font-family: Papyrus;
    border-style: solid;
    border-color: rgb(25, 32, 64)
}

.nav:hover {
    background-color: rgb(200, 200, 10);
}

li {
    color: blue;
    font-family: fantasy;
}

#top {
    background-color: aqua;
    font-family: cursive;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    text-align: center;
}

p {
    font-family: 'Gill Sans';

}

body {
    margin-left: 20%;
    margin-right: 20%;
}
img {
    width: 60%;
    border-style: groove;
    border-width: 10px;
}


tr > td {
    color: rgb(1, 122, 156);
    border-style: solid;
    border-width: 1px;

}

tr:first-child {
    font-size: 20px;
}

.navigation {
    margin-left: 30%;
    background-color:green;
}

selector:hover {
    color: green;
}